.header {
  display: flex;
  align-items: center;

  &::first-child {
    flex: 0;
  }

  padding: 21px 32px;
}

.nav {
  flex: 1;
  display: flex;

  justify-content: center;
  padding-top: 4px; 

  ol {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 48px;
  }

  ol > li {
    list-style: none;
    width: max-content;
  }

  font-weight: var(--weight-light);
  font-size: 1.125rem;
  text-transform: uppercase;

  .active {
    color: var(--secondary);
  }
}

